/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/fira/fira.css);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Fira Sans", serif;
  font-size: 28px;
  font-weight: 400;
  color: #002a32; }

::selection {
  color: #fff;
  background: #002a32;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #002a32;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #002a32;
  font-family: "Fira Mono", serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.6em;
  margin-bottom: 0;
  line-height: 77px;
  width: 80%; }

.reveal h2 {
  margin-top: 2em;
  font-size: 1.2em; }

.reveal h3 {
  margin-top: 1em;
  font-size: 1em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 10px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold;
  color: #011627; }

.reveal em {
  font-style: italic; }

.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 0;
  list-style: none; }

.reveal ol {
  list-style-type: decimal;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  font-family: "Fira Mono", monospace;
  font-size: 0.9em;
  opacity: 0.8;
  margin-top: 1.5em;
  font-weight: 400;
  display: block;
  position: relative; }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: "Fira Mono";
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: "Fira Mono";
  text-transform: none;
  opacity: 0.8; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #002a32;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease;
  border-bottom: #002a32 .2rem solid; }

.reveal a:hover {
  color: #242E35;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px; }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #adacb5; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #adacb5; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal p.discret {
  margin-top: 3em;
  font-size: 0.65em;
  opacity: 0.45;
  font-weight: 500;
}

.ref {
  opacity: 0.6;
}

span.focus {
  border: 5px solid;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 5px;
  padding-right: 5px;
}

/*span.focus::after {
  content: "4";
  font-size: 0.75em;
  position: relative;
  top: 50px;
}*/

span.focust {
  border: 5px solid transparent;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 5px;
  padding-right: 5px;
}

span.focusl {
  opacity: 0.3;
  border: 5px solid transparent;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 5px;
  padding-right: 5px;
}

span.light {
  opacity: 0.3;
}

.schema {
  margin-left: 3em;
}

h2.medium, h3.medium {
  opacity: 0.8;
}
